.buttonGenerate
{
	position:absolute;
	right:20px;
	top:5px;
}
.smallerRow
{
	margin-left:0px;
	margin-right:0px;
}
.nestedArrayContainer {
	
	width:50%;
    width: -webkit-calc(50% - 30px);
    width: -moz-calc(50% - 30px);
    width: calc(50% - 30px);
	margin-left:20px;
	margin-top:30px;
	border-radius: 10px;
	height: 90%;
	background-color:#5a5c51;
	overflow:hidden;
}
